<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from jobie.dexignzone.com/mobile-app/xhtml/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2024 06:42:32 GMT -->
<head>
    
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/pt_gens.png" />
    
    <!-- Title -->
	<title>Gen's Bot Crypto</title>
	
	<!-- PWA Version -->
	<link rel="manifest" href="manifest.json">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

</head>   
<body>
<div class="page-wraper">
    
    
    <!-- Banner -->
	<div class="banner-wrapper author-notification">
		<div class="container inner-wrapper">
			<div class="dz-info">
				<span><div id="username"></div></span>
				<h2 class="name mb-0" id="balance">Loading...</h2>
			</div>
			<div class="dz-media media-45 rounded-circle">
				<a href="./">
                    <svg width="45px" height="45px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="none" fill-rule="evenodd"> <circle cx="16" cy="16" r="16" fill="#C3A634"></circle> <path fill="#FFF" d="M13.248 14.61h4.314v2.286h-4.314v4.818h2.721c1.077 0 1.958-.145 2.644-.437.686-.291 1.224-.694 1.615-1.21a4.4 4.4 0 00.796-1.815 11.4 11.4 0 00.21-2.252 11.4 11.4 0 00-.21-2.252 4.396 4.396 0 00-.796-1.815c-.391-.516-.93-.919-1.615-1.21-.686-.292-1.567-.437-2.644-.437h-2.721v4.325zm-2.766 2.286H9v-2.285h1.482V8h6.549c1.21 0 2.257.21 3.142.627.885.419 1.607.99 2.168 1.715.56.724.977 1.572 1.25 2.543.273.971.409 2.01.409 3.115a11.47 11.47 0 01-.41 3.115c-.272.97-.689 1.819-1.25 2.543-.56.725-1.282 1.296-2.167 1.715-.885.418-1.933.627-3.142.627h-6.549v-7.104z"></path> </g> </g></svg>
                </a>
			</div>
		</div>
	</div>
    <!-- Banner End -->
    
    <!-- Page Content -->
    <div class="page-content">
        
        <div class="content-inner pt-0">
			<div class="container fb">
                <div class="m-b40"></div>
                <!-- Dashboard Area -->
                <div class="dashboard-area">

                    <div id="view_home">
                        <%- include('view_home') %>
                    </div>
                    <div id="view_setting">
                        <%- include('view_setting') %>
                    </div>
                    <div id="view_wallet">
                        <%- include('view_wallet') %>
                    </div>
                    <div id="view_account">
                        <%- include('view_account') %>
                    </div>
				</div>
			</div>    
		</div>
        
    </div>    
    <!-- Page Content End-->
    
    <%- include('footer') %>
	
	
</div>  
<!--**********************************
    Scripts
***********************************-->
<script src="assets/index.js" defer></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/session.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/bignumber.js@9"></script>
<script src="assets/js/settings.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/utils.js"></script>
<script src="assets/js/home.js"></script>
<script src="assets/js/menu.js"></script>
<script src="assets/js/wallet.js"></script>
<script src="assets/js/dz.carousel.js"></script><!-- Swiper -->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script><!-- Swiper -->
<script type="text/javascript">
    function logout() {
        localStorage.clear();
        window.location.href="./"
    }
</script>
</body>

<!-- Mirrored from jobie.dexignzone.com/mobile-app/xhtml/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2024 06:42:46 GMT -->
</html>